/*********************** Colors ***********************/
:root {
	--primary: #39445a;
	--pure: #ffffff;
	--dark: #000000;
	--primary-dark: #1c212a;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/*********************** Fonts ***********************/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");

/*********************** Styles ***********************/
.app {
	min-height: 100vh;
	background-color: var(--primary);
	color: var(--pure);
	padding-top: 7rem;
	padding-bottom: 2rem;
}
@media (max-width: 700px) {
	.app {
		padding-top: 5rem;
	}
}
